# Node.js / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*

# Environment files
.env
.env.*.local

# Build / Output
dist/
build/
coverage/
logs/
*.log

# VS Code / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sonstiges
*.tmp
*.swp